.section-title{
    text-align: center;
    font-family:sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    text-transform: uppercase;
    
}
.section-paragraph{
    text-align: center;
    font-family:sans-serif;
    font-size: 17px;
    line-height: 24px;
}
.line{
    width: 68px;
    height: 3px;
    background-color: #F48E0B;
    border: #F48E0B;
}
.section-img{
   display: flex;
align-items: center;   
    top: 180px;    
    width: 261px;
    height: 241px;
}