html{
    box-sizing: content-box; 
}
.content-container{
    width: 1280px;
    margin: 0;
}

.header-logo{
    
    margin-top: 0;
    margin-bottom: 40px;
    padding-left: 40px;
    text-align: left;
    font-size: 80px;
    font-family:'Roboto', sans-serif;

}
.header-logo-item{
    color: #4BCAFF;
}

.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1280px;
}

.header-items{
    flex-basis: auto;
    align-items: left;
    padding: 24px 32px;
     margin: 0 1px;
    font-family:'Roboto', sans-serif;
    font-size: 24px;
    list-style-type: none;
    color: white;
    background-color: #35444F;
    
}

.header-menu::before{
content: "";
    display: block;
    padding: 24px 90px;
    margin: 0 1px;
    font-family:'Roboto', sans-serif;
    font-size: 24px;
    background-color: #35444F;
    background-color: #35444F;
}

.header-menu::after{
    content: "";
        display: block;
        padding: 20px 50px;
        margin: 0 1px;
        font-family:'Roboto', sans-serif;
        font-size: 24px;
        background-color: #35444F;
        background-color: #35444F;
    }
.header-items:hover{
    background-color: #222F3A;
}

.center-content{
    display: flex;
    flex-direction: row;
}

.sidebar{
    padding-left: 40px;
    padding-top: 48px;
    max-width: 350px;
    margin: 0;
    
}

.sidebar-menu {
    border: black solid 1px;
    padding: 0%;
    margin: 0%;
}

.sidebar-menu-items{
    padding: 27px 78px 27px 44px;
    text-align: left;
    font-family:'Roboto', sans-serif;
    font-size: 27px;
    list-style-type: none;
    color: #495863;
}

.sidebar-menu-items:hover{
    color: black;
    background-color: #DBDBDB;
    padding-right: 75px;
    padding-left: 48px;
}
/* В боковом меню при hover пункт What's Different? немного сдвигает меню и контейнер с картинкой и текстом,я не знаю как это исправить */

.content{
    box-sizing: border-box;
    width: 885px;
    margin-left: 2%; 
    padding-left: 50px;
}

.content-img{
    padding-top: 48px;
    width: 835px;
    height:529px ; 
    justify-content: flex-end;
    align-items: center;
}

.content-item{
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 34px;
}

.footer{
    padding-top: 50px;
    padding-left: 40px;
}

.footer-menu { 
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #B4B7B9;
   
}

.footer-items {
    font-family:'Roboto', sans-serif;
    font-size: 24px;
    padding: 20px 20px;
    list-style-type: none;
    color: #0C1927;
}

.footer-items-sign{
    padding: 20px 40px 20px 100px;
    font-family:'Roboto', sans-serif;
    font-size: 24px;
    list-style-type: none;
    color: #0C1927;
}

.footer-items:hover{
    color: #3181A6;
    text-decoration: underline;
}
