.body{
    background-image: url(../img/Фон.jpg);
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
}

.container{
    justify-content: center;
    background-color: #0000003f;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.hidden{
    position:absolute;
}

.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 1351px;
    margin: 0 auto;
}

.header-left{
    margin-left: -43px;
}

.logo{
    color: white;
    -webkit-text-stroke-width: medium;
    font-size: 22px;
}

.logo:hover{
    color: #3CB878;
    transition: 1s;
}

.header-right{
    display: flex;
}

.icons-wrap{
    display: flex;
    justify-content: space-between;
    width: 118px;
}

.icon{
    width: 23px;
    height: 24px
}

.header-fraze{
    display: flex;
    align-items: center;
}

.header-fraze::before{
    content: '';
    border-left: 2px solid #ffffffc5;
    height: 19px;
    position: relative;
    left: 27px;
    margin-left: -8px;
    top: 0;
}

.welkome{
    color: white;
    margin-left: 40px;
}

.log-link:hover{
    color: #3CB878;
    transition: 1s;
}

.sign-up-container{
    display: flex;
    justify-content: center;
}

.sign-up-form{
width: 444px;
height: 622px;
background-color: white;
top: 50%;
position: absolute;
transform: translateY(-50%);
}

.sign-up-form::before{
    content:"";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 30px;
}

.title-wrap{
    display: flex;
    align-items: baseline;
    justify-content:space-between;
}

.form-title{
padding-top: 30px;
padding-left: 60px;
color: #434343;
font-size: 20px;
}

.log{
    color: #3CB878;
    padding-right: 60px;
}

.log:hover{
    color: #01813F;
    text-decoration: underline;
    transition: 1s;
}

.soc-buttons{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.Facebook{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 22px;
    border-radius: 5px;
    border-style: none;
    background: #305DB8;
    width: 160px;
    color: white;
    text-align: end;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-right: 5px;
    cursor: pointer;
}

.Facebook::before{
    content: '';
    border-left: 2px solid #132857e8;
    height: 28px;
    position: relative;
    left: 60px;
    margin-left: -3px;
    top: 0;
}

.Facebook:hover{
    background-color: #022263;
    transition: 0.5s;
}

.Google{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 22px;
    border-radius: 5px;
    border-style: none;
    background: #DF4A32;
    width: 160px;
    color: white;
    text-align: end;
    padding-top: 17px;
    padding-bottom: 17px;
    cursor: pointer;
    }

.Google::before{
    content: '';
    border-left: 2px solid #973122;
    height: 28px;
    position: relative;
    left: 60px;
    margin-left: -3px;
    top: 0;
}

.Google:hover{
    background-color: #AB1F09;
    transition: 0.5s;
}

.icon-facebook{
    width: 24px;
    height: 24px;
    margin-left: -30px;
}

.icon-google{
    width: 30px;
    height: 19px;
    margin-left: -30px;
}

.or{
    margin-top: 31px;
    margin-bottom: 11px;
    text-align: center;
    color: #848484;
}

.divider::before{
    content: '';
    width: 149px;
    background-color: #F2F2F2;
    position: absolute;
    top: 165px;
    height: 3px;
    margin-left: -153px;
}

.divider::after{
    content: '';
    width: 152px;
    background-color: #F2F2F2;
    position: absolute;
    left: auto;
    top: 165px;
    height: 3px;
    margin-left: 23px;
}

.name-form{
    width: 322px;
}

.form-one{
    border: solid #F2F2F2 1px;
    border-radius: 1px;
    width: 322px;
    height: 44px;
}

.form-one::placeholder{
    color: #BEBEBE;
}


 .form-one:focus{
    border: none;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    transition: 0.5s;
 }

 .form-one:focus::placeholder{
    color: #434343;
}


 /* .form-one:hover{
    border: none;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    transition: 0.5s;
 }

 .form-one:hover::placeholder{
    color: #434343;
} */


 .form-two{
    margin-top: 15px;
    border: solid #F2F2F2 1px;
    border-radius: 1px;
    width: 322px;
    height: 44px;
}

.form-two::placeholder{
    color: #BEBEBE;
}

.form-two:focus{
    border: none;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    transition: 0.5s;
 }

.form-two:focus::placeholder{
    color: #434343;
}

/* .form-two:hover::placeholder{
    color: #434343;
    transition: 0.5s;
}

 .form-two:hover{
     border: none;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    transition: 0.5s;
 } */


.sign-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox{
    display: none;
}


.custom-checkbox .check-agree {
    margin-left: -65px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    line-height: 1;
    font-size: 14px;
    margin-top: 20px;
}


.custom-checkbox .check-agree:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #ddd;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 8px;
}

.custom-checkbox [type="checkbox"]:checked + .check-agree:before {
    background-image: url('../img/checked.png');
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: center;
}

.last-link{
    color: #3CB878;
}

.last-link:hover{
    color: #01813F;
    text-decoration: underline;
    transition: 0.5s;
}

.create-account{
    margin-top: 20px;
    font-size: 16px;
    color: white;
    padding: 18px 99px;
    background-color: #3CB878CC;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-account:hover{
    background-color: #01813F;
    transition: 0.5s;
}

