
.menu-list{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.menu-item {
    margin-top: 25px;
    padding:0 72px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    color: red;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 100%;
    margin-top:25px;
}
.title{
    margin-top: 49px;
    text-align: center;
}
.paragraph_1{
    text-align: center;
    margin-top: 38px;
    margin-left:67.5px;
    margin-right: 67.5px;
    line-height: 2.1;
    letter-spacing: 2.4px;
    font-size: 16px;
}
.paragraph_2{
    margin-top: 28px;
    text-align: center;
    margin-left:67.5px;
    margin-right: 67.5px;
   line-height: 2.1;
    letter-spacing: 2.4px;
    font-size: 16px;
}

@font-face {
    font-family: Montserrat;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
}
li{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
   }
   h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
   }
p{
    font-family: 'Montserrat', sans-serif;
    color: rgba(90,90,90,0.8);
}
.button{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 12px;
    color: rgb(255, 255, 255);
    bottom: 20px; /* Расстояние от нижнего края окна браузера */
    background: red; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    border: solid 18px red; /* Параметры рамки */
    margin: 66px 544.5px;
    border-radius: 4px;
}

a{
    color: red;
    text-decoration: none;
}
footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: right;
    color: #373737;
    margin-top: 82px;
}