html,
header,
body,
footer,
div,
section,
aside,
article,
ul,
li,
h3,
p {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
}


abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

img {
  border-style: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

progress {
  vertical-align: baseline;
}