.logo-way-up{
    width: 200px;
    height: 65px;
}

.blue-block{
    background: blue;
    width: 100px;
    color: white;
}

.red-text{
    color: red;
}

.green-text{
    background: green;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.green-text-big{
    color: white;
    background: green;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
}

.div{
    width: 583px;
}

.center-text{
    text-align: center;
}

.border{
    font-size: 30px;
    border: solid black;
}