<!--ЛАЙФХАКИ-->
h{item}*6
<!--Создать 6 заголовков с описанием item-->
h.item*6
<!--Создать 6 заголовков с классом item-->
h1*6 -
<!--Создать 6 заголовков-->

div#header - <!-- ID тега -->
h1{Title}+h2{text} - <!-- Соединяются соседние теги -->
ul>li>a - <!-- Дочерние эл. -->
ul>(li>a)*2 - <!-- Несколько тегов группируются в скобках -->
div>h1^div>p - <!-- Подняться на уровень выше  -->
ul.list>li.item$*3 - <!-- Авто нумерация -->
ul.list>li.item$@5*3 - <!-- Нумерация с конкретного числа -->

a.logo>img.logo-img+p.logo-text{LOGO}^div.menu
Чтоб div был вне эл <a></a>,надо эл <p></p> + а <div></div> ^
<a href="" class="logo">
    <img src="" alt="" class="logo-img">
    <p class="logo-text">LOGO</p>
</a>
<div class="menu"></div>

nav#main-menu.navbar>.container>ul.menu-list>(li.menu-item$>a.menu-link>lorem2)*4
<nav id="main-menu" class="navbar">
    <div class="container">
        <li class="menu-item1"><a href="" class="menulink"></a></li>
        <li class="menu-item2"><a href="" class="menulink"></a></li>
        <li class="menu-item3"><a href="" class="menulink"></a></li>
        <li class="menu-item4"><a href="" class="menulink"></a></li>
    </div>
</nav>

! - создастья основная структура эл.
. - создаст div с классом

<!--БЛОЧНЫЕ ЭЛ.-->
<address> - контактная инфа
<article> - содержимое страницы
<aside> - блок сбоку от контента
<blockquote> - Длинная («блочная») цитата
<div> - блок
<details> - Раскрывающийся блок с подробностями
<ruby> - анотация к дитейлс
<dialog> - Диалоговое окно
<fieldset> - используется для группировки нескольких элементов управления без веб-форм.
<figure> - Группирование медиа-контента
<figcaption> - Описание
<footer> - «подвал» раздела/страницы
<form> - устанавливает форму на веб-странице.Для обмена данными между пользователем и сервером
<legend> - заголовок группы эл формы
<h1>-<h6> - заголовки
<header> - шапка сайта
<hr> - разделительная линия
<ul> - маркерованый список
<ol> - упорядоч список
<li> - пункт списка
<dl> - список описаний
<dt> - термин
<dd> - описание термина
<main> - основной контент (1 раз на странице)
<nav> - навигационные ссылки
<noscript> - альтернативный контент,если поддержка скриптов
<input> -интерактивных эл. управления
<output> - область в которую выводится информация
<option> - пункт списка в select
<optgroup> - контейнер с option объединенные в одну группу
<p> - абзац
<pre> - Предварительно форматированный текст
<section> - раздел
<summary> - 
<table> - таблица
<tr> - контейнер для создания строки таблицы


<!--НОВЫЕ ТЭГИ-->
<button type="button"> - тип для того чтоб кнопка нажималась или другие функции
<a href="" target="_blank"> - ссылка в новом окне 